{{!-- Configuración del documento --}}
<meta charset="utf-8" />

{{!-- Page Meta --}}
<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}" />

{{!-- Meta viewport --}}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />

{{!-- Favicon --}}
<link rel="shortcut icon" href="{{asset "images/favicon.ico"}}" />

<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" media="all" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700|Lato:300,400,700" media="all" />

{{!-- Ghost produce estilos y metadatos importantes con esta etiqueta --}}
{{ghost_head}}